{% extends 'layout.html' %}
{% set active_page = "irs_doc2vec_kmeans" %}
{% block title %} Home {% endblock %}

{% block body %}
<div class="main-content">
            <!-- page title area start -->
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-12 mb-3 mt-3">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Information Retrival (Doc2vec-Kmeans)</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="{{ url_for('index') }}">Home</a></li>
                                <li><span>Information Retrival (Doc2vec-Kmeans)</span></li>
                            </ul>
                        </div>
                    </div>
<!--                    <div class="col-sm-6">-->

<!--                    </div>-->
                </div>
            </div>
            <!-- page title area end -->
            <br>
            <div class="main-content-inner">
                <div class="row">
                    <!-- seo fact area start -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="pull-left">
                                    <form action="{{ url_for('processDoc2vecKmeans') }}" method="POST">
                                        <div class="form-row">
                                            <div class="search-box col-auto my-1">
                                                <input type="text" name="query" id="query" placeholder="Search..." required>
                                            </div>
                                            <div class="col-auto my-1">
                                                <select class="form-control" name="total" id="total" required>
                                                    <option hidden>Total Cluster</option>
                                                    {% for row in total %}
                                                        <option value="{{ row.0 }}">{{ row.0 }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-auto my-1">
                                                <select class="form-control" name="threshold" id="threshold" required>
                                                    <option hidden>Threshold</option>
                                                    <option value="0.1">0,1</option>
                                                    <option value="0.2">0,2</option>
                                                    <option value="0.3">0,3</option>
                                                    <option value="0.4">0,4</option>
                                                    <option value="0.5">0,5</option>
                                                    <option value="0.6">0,6</option>
                                                    <option value="0.7">0,7</option>
                                                </select>
                                            </div>
                                            <div class="col-auto my-1">
                                                <button type="submit" class="btn btn-primary"><i class="ti-search"></i> Search</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="data-tables datatable-primary">
                                        <table id="dataTable" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <td>Title News</td>
                                                    <td>Action</td>
                                                </tr>
                                            </thead>
                                            <tbody id="tbl_search">
                                            {% for row in data %}
                                                <tr>
                                                    <td>{{ row.1 }}</td>
                                                    <td>
                                                        <a href="#!" class="btn btn-info btn-xs" data-toggle="modal" data-target="#detailNews{{ row.0 }}"><i class="fa fa-info-circle"></i></a>
                                                    </td>
                                                </tr>
<!--                                            start-->
                                                    <div class="modal fade bd-example-modal-lg" id="detailNews{{ row.0 }}">
                                                        <div class="modal-dialog modal-lg">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Detail News title</h5>
                                                                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2 mb-2">
                                                                        <h5>Title</h5><br>
                                                                        <label>{{ row.1 }}</label>
                                                                    </div>
                                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2 mb-2">
                                                                        <h5>Description</h5><br>
                                                                        <label>{{ row.2 }}</label>
                                                                    </div>
                                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2 mb-2">
                                                                        <h5>Source</h5><br>
                                                                        <label>{{ row.3 }}</label>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>

        <!-- main content area end -->
        <!-- footer area start-->
        <footer>
            <div class="footer-area">
                <p>© Copyright 2018. All right reserved. Template by <a href="https://colorlib.com/wp/">Colorlib</a>.</p>
            </div>
        </footer>
<script>

</script>
{% endblock %}